html, body {
  margin: 0;
  padding: 0;
  background-color: #1d1f20;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border: 2px solid white;
  background-color: black;
}
